<div class="navbar">
  <div id="navbar-content">
    <button color="accent" [routerLink]="['/home']" routerLinkActive="active" class="navbar-button">
      <mat-icon>home</mat-icon>
    </button>
    <div class="navbar-buttons">
      <button *ngIf="user" color="accent" [routerLink]="['/app-user-account']" routerLinkActive="active" class="navbar-button">All Accounts</button>
      <button color="accent" [routerLink]="['/posts']" routerLinkActive="active" class="navbar-button">Posts</button>
      <button *ngIf="user" color="accent" [routerLink]="['/my-posts']" routerLinkActive="active" class="navbar-button">My posts</button>
      <button *ngIf="user && user.username !== ''" color="accent" [routerLink]="['/trends']" routerLinkActive="active" class="navbar-button">Trends</button> 
      <button *ngIf="user && user.username !== ''" color="accent" [routerLink]="['/nearby-posts']" routerLinkActive="active" class="navbar-button">Nearby Posts</button> 
    </div>
    <button *ngIf="user && user.username === ''" color="accent" [routerLink]="['/login']" routerLinkActive="active" class="navbar-button">Login</button>
    <button *ngIf="user && user.username !== ''" color="accent" (click)="onLogout()" class="navbar-button">Logout</button>
    <button *ngIf="user && user.username === ''" color="accent" [routerLink]="['/register']" routerLinkActive="active" class="navbar-button">Register</button>
    <button class="navbar-button" *ngIf="user && user.username !== ''" [routerLink]="['/chat']" >
      <mat-icon>chat</mat-icon>
    </button>
    <button class="navbar-button" *ngIf="user && user.username !== ''" [routerLink]="['/profile']" >
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>
