.navbar {
    background: linear-gradient(to right, #540e0e, #b00e0e);
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

#navbar-content {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.navbar-button {
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.navbar-button:hover {
    background-color: #f24f4f;
    border-color: #f12828;
    transform: translateY(-3px);
}

.navbar-button.router-link-active {
    background-color: #d16ba5;
    border-color: #d16ba5;
    color: white;
}

.navbar-button[routerLinkActive="active"]:hover {
    background-color: #f24f4f;
    border-color: #f12828;
}

.navbar-button:focus {
    outline: none;
}

.navbar-button[routerLink]:not([routerLinkActive="active"]) {
    background-color: rgba(255, 255, 255, 0.1);
    color: #f7d0d6;
    border-color: rgba(255, 255, 255, 0.3);
}

.navbar-button[routerLink]:active {
    background-color: #ff4c6b;
    color: #fff;
    border-color: #ff4c6b;
}

.profile-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.profile-button:hover {
    color: #ff4c6b;
    border-radius: 50%;
    transform: translateY(-3px);
}

mat-icon {
    font-size: 30px;
}