<div class="container">
  <div class="dialog-header">
    <h2>Create Post</h2>
    <button class="close-button" (click)="onClose()">X</button>
  </div>
  
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <textarea id="description" formControlName="description" class="form-control" placeholder="Description" rows="4"></textarea>
      </div>
  
      <div class="form-group">
        <label for="image" class="addImageBtn">Add Image</label>
        <input type="file" id="image" (change)="onFileChange($event)" class="form-control" accept="image/*" style="display: none;" />
        <span *ngIf="selectedFileName" class="file-name">{{ selectedFileName }}</span>
      
        <!-- Prikaži novu sliku ako je izabrana -->
        <div *ngIf="imageBase64" class="image-preview mt-2">
          <img [src]="imageBase64" alt="Selected image preview" style="max-height: 150px; border-radius: 8px; margin-top: 15px;" />
        </div>
      
        <!-- Prikaži postojeću sliku samo ako nema nove izabrane -->
        <div *ngIf="!imageBase64 && existingImageUrl" class="image-preview mt-2">
          <img [src]="existingImageUrl" alt="Existing post image" style="max-height: 150px; border-radius: 8px; margin-top: 15px;" />
        </div>
      </div>
      

      <div class="form-group">
        <div class="address-input-wrapper">
          <input type="text" id="addressInput" formControlName="addressInput" class="form-control" placeholder="Address: Street, City, Country (optional)" />
          <button type="button" class="btn find-address-button" (click)="onAddressSubmit()">
            Find <span class="material-icons" style="font-size: 18px; margin-right: 6px;">search</span>
          </button> </div>
      </div>

      <div class="map-container">
        <app-map (coordinatesChange)="onCoordinatesChange($event)"></app-map>
      </div>
  
  <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid || (!imageUploaded && !data?.post)">{{ data?.post ? 'Update Post' : 'Create Post' }}
  </button>

    </form>
  </div>
  