/* Postavljanje roze pozadine za celokupnu stranicu */
.container {
    max-width: 600px;
    margin: auto;
    background-color: #ffeef1; /* Roza pozadina */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px; /* Razmak izmeu postova */
}

/* Stilizovanje kartice sa roze pozadinom */
.card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    background-color: #ffe1f0; /* Svijetlo roze pozadina kartice */
    margin-bottom: 20px; /* Razmak izmeu kartica (postova) */
}

/* Naslov u kartici */
.card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ff3366; /* Tamno roze boja za naslov */
}

/* Slika u kartici */
.card img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

/* Stilizovanje upozorenja */
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}

/* Stilizovanje dugmadi sa roze pozadinom */
.btn-primary {
    color: black;
    background-color: #e7a0b2; /* Tamno roze dugme */
    border-color: rgb(143, 83, 93);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

/* Dugme za komentar sa svetlijom roza pozadinom */
.btn-secondary {
    color: black;
    background-color: #e7a0b2; /* Tamno roze dugme */
    border-color: rgb(143, 83, 93);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-right: 1rem; /* Dodaje razmak izmeu Like i Comment dugmadi */
    cursor: pointer;
}

/* Razmak izmeu dugmadi */
.card-body button {
    margin-top: 10px;
}
