<div class="container my-4">
  <button *ngIf="isLoggedIn" class="btn btn-primary" (click)="openCreatePostDialog()">Create Your Post</button>
  <div *ngIf="posts.length > 0; else noPosts">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let post of posts" class="col">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h2 class="card-title">{{ post.description }}</h2>

            <img *ngIf="post.imageUrl" [src]="getPostImageUrl(post.imageUrl)" class="card-img-top mb-3" alt="Post image" style="max-height: 300px; object-fit: cover; border-radius: 8px;">

            <p class="card-text">
              <strong>Likes:</strong> {{ post.likesCount }}
            </p>

            <!-- Prikaz poruke ako korisnik nije prijavljen, samo za konkretan post -->
            <div *ngIf="messages.get(post.id)" class="alert alert-warning p-2">
              {{ messages.get(post.id) }}
            </div>

            <button *ngIf="!post.deleted"
            class="btn d-flex align-items-center gap-2"
            [ngClass]="likedPosts.get(post.id) ? 'btn-outline-danger' : 'btn-outline-primary'"
            (click)="likePost(post)">
      <i [ngClass]="likedPosts.get(post.id) ? 'bi bi-hand-thumbs-down-fill' : 'bi bi-hand-thumbs-up-fill'"></i>
      {{ likedPosts.get(post.id) ? 'Unlike' : 'Like' }}
    </button>              
        
    <!-- Prikaz dugmadi za izmenu i brisanje samo ako je korisnik autor -->
    <p>post.userId = {{ post.userId }}, userId = {{ userId }}</p>
      <div *ngIf="post.userId === userId"> >
        <button class="btn btn-outline-warning btn-sm" (click)="editPost(post)">✏️ Izmeni</button>
        <button class="btn btn-outline-danger btn-sm" (click)="deletePost(post.id)">🗑️ Obriši</button>
      </div>

             <!-- OVDE UBACI KOMPONENTU ZA KOMENTARE -->
             <xp-comment [postId]="post.id" [isLoggedIn]="isLoggedIn"></xp-comment>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noPosts>
    <div class="text-center my-4">
      <p class="text-muted">No posts available.</p>
    </div>
  </ng-template>
</div>
