<div class="profile-page">
    <!-- Background Banner -->
    <div class="banner"></div>
  
    <!-- Profile Card -->
    <div class="profile-card">
      <img class="profile-picture" [src]="'assets/images/profile-picture.jpg'" alt="Profile Picture" />
  
      <h1 class="user-name">{{ user.firstName }}</h1>
      <p class="user-bio">{{ user.lastName }}</p>
      <div class="user-info">
        <p class="user-location">{{ user.address.city }}, {{ user.address.country }}</p>
  
      </div>
    </div>
  </div>
  