/* Form styling */
form {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

div {
    width: 400px;
    display: flex;
    flex-direction: column;
}

p {
    margin-top: 10px;
}

.pink-button {
    background-color: #ffd4e5 !important; 
    color: #ffffff !important; 
    border-color: transparent !important; 
    box-shadow: none !important; 
}

.pink-button:hover {
    background-color: #ffc1d4 !important; 
}

