<div class = "form-container">
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="login-container">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>

    <button type="submit" mat-raised-button class="bordo-button">Login</button>

    <p class="register-text">
      Don't have an account yet?
      <a href="/register">Sign Up</a>
    </p>
  </div>
</form>
</div>
