.analytics-section {
  margin-top: 20px;
  margin-bottom: 40px;
}

.analytics-table {
  width: 50%;
  border-collapse: collapse;
  text-align: center;
  margin-left: 400px;
}

.analytics-table th,
.analytics-table td {
  padding: 12px;
  border: 1px solid black;
  font-weight: bold;

}

.analytics-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.chart-container {
  max-width: 400px;
  margin: 0 auto;
}
/* Prvi red (zaglavlja: Period, Posts, Comments) */
.analytics-table thead th {
  background-color: coral;
  color:black;
  font-weight: bold;
}

/* Prva kolona (Period: Weekly, Monthly, Yearly) */
.analytics-table td:first-child {
  background-color:burlywood;
  color:black;
  font-weight: bold;
}

