<h2 style="margin-left: 770px; margin-top: 35px;">Overview of activities</h2>

<div *ngIf="counts" class="analytics-section">
  <table class="analytics-table no-border">
    <thead>
      <tr>
        <th>Period</th>
        <th>Posts</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Weekly</td>
        <td>{{ counts.weeklyPosts }}</td>
        <td>{{ counts.weeklyComments }}</td>
      </tr>
      <tr>
        <td>Monthly</td>
        <td>{{ counts.monthlyPosts }}</td>
        <td>{{ counts.monthlyComments }}</td>
      </tr>
      <tr>
        <td>Yearly</td>
        <td>{{ counts.yearlyPosts }}</td>
        <td>{{ counts.yearlyComments }}</td>
      </tr>
    </tbody>
  </table>
</div>

<h2 style="margin-left: 770px;">User activity distribution</h2>
<div class="chart-container">
  <canvas #chart></canvas>
</div>
